# Application
NODE_ENV=development
PORT=3000

# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/novia_dev?schema=public"

# JWT
JWT_SECRET=change_me_in_production
JWT_EXPIRES_IN=7d
